.about {
    overflow: hidden;
    display: flex;
    padding: 150px 0;
    justify-content: center;

    font: {
        family: 'Montserrat', sans-serif;
        size: 60px;
    }
}

.pros {
    width: 100%;
    display: inline-block;
    align-items: center;
}

.pros-row {
    display: inline-block;
    justify-content: center;
    position: relative;
    align-items: center;
}

.fas {
    font: {
        size: 100px;
    }

    padding: 30px 60px;
}

.far {
    font: {
        size: 100px;
    }

    padding: 30px 60px;
}