.about {
    display: flex;
    padding: 150px 0;
    justify-content: center;

    font: {
        family: 'Montserrat', sans-serif;
        size: 4rem;
    }
}

.pros {
    display: grid;
    grid-gap: 2rem;
    margin: 0 60px;
    grid-template-columns: repeat(4, 1fr);

    .title {
        margin-bottom: 3rem;

        font: {
            size: 2rem;
            family: 'Montserrat', sans-serif;
        }
    }
}

.pro-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    word-break: break-all;
    padding: 10px;

    .desc {
        line-height: 20px;
    }
}

.fas {
    font: {
        size: 6rem;
    }

    padding: 30px 60px;
}

.far {
    font: {
        size: 6rem;
    }

    padding: 30px 60px;
}

.skills {
    margin-top: 3rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    font: {
        size: 4rem;
    }
}