.rows {
    width: 100%;
    display: flex;
}

.contact {
    padding: 5vh 0 10vh;
    animation-duration: 1s;
    animation-name: slidein;
    font: {
        family: 'Montserrat', sans-serif;
        size: 4rem;
    }
}

.selection {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.ct-btn {
    border: none;
    background: none;
    margin: 0 2rem;
    width: 4.5rem;
    height: 4rem;
    outline: none;
    &:hover {
        filter: drop-shadow(0px 0px 20px black);
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}