.dashBoard {
  display: block;
  padding: 1rem;
  width: 100%;
}

.boardTable {
  border-top: 1px solid #444444;
  width: 50%;
  margin: auto;
  table-layout: fixed;
  font: {
    family: 'NIXGONM-Vb';
  }
  th,
  td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  th {
    font-weight: bolder;
  }
  #no {
    width: 5rem;
  }
  #comment {
    width: 25em;
  }
  #name {
    width: 8rem;
  }
  #date {
    width: 8rem;
  }
  #del {
    width: 2rem;
  }
}

.tableContents:hover {
  background: rgba(0, 0, 0, 0.2);
}

.inputForm {
  margin: 3rem auto 5rem;
  display: flex;
  font: {
    family: 'NIXGONM-Vb';
  }
}

#nameOf {
  width: 20%;
}

#contentsOf {
  width: 80%;
}

#updateBtn {
  border: none;
  width: 5rem;
  height: 2rem;
  border-radius: 25px;
  background: black;
  color: white;
}

#delBtn {
  border: none;
  background: none;
  &:hover {
    background: white;
    color: red;
    border-radius: 100px;
    filter: drop-shadow(0 0 5px black);
  }
}

@media only screen and (max-width: 1024px) {
  #no {
    width: 4rem;
  }
  #comment {
    width: 20em;
  }
  #name {
    width: 6.4rem;
  }
  #date {
    width: 6.4rem;
  }
  #del {
    width: 1.6rem;
  }
  .boardTable {
    width: 0;
    table-layout: auto;
  }
}

@media only screen and (max-width: 768px) {
  #no {
    width: 3rem;
  }
  #comment {
    width: 15em;
  }
  #name {
    width: 4rem;
  }
  #date {
    width: 4.8rem;
  }
  #del {
    width: 1.4rem;
  }
}

@media only screen and (max-width: 480px) {
  .dashBoard {
    padding: 0;
  }
  .boardTable {
    table-layout: fixed;
    padding: 0;
    #no {
      width: 0.2rem;
    }
    #comment {
      width: 14rem;
    }
    #name {
      width: 2rem;
    }
    #date {
      width: 0;
    }
    #del {
      width: 0.5rem;
    }
    font-size: 10px;
    td,
    td {
      padding: 5px;
    }
  }
  .inputForm {
    display: block;
    margin: 1rem 14px;
    width: 100vw;
    #nameOf {
      display: block;
      width: 50%;
    }
    #contentsOf {
      display: block;
      width: 90%;
    }
    #updateBtn {
      display: block;
      margin: auto 37%;
    }
  }
}
