.dashBoard {
    display: block;
    padding: 1rem;
    width: 100%;
}

.boardTable {
    border-top: 1px solid #444444;
    width: 50%;
    margin: auto;
    table-layout: fixed;
    font: {
        family: 'NIXGONM-Vb';
    }
    th,
    td {
        border-bottom: 1px solid #444444;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    th {
        font-weight: bolder;
    }
}

.tableContents:hover {
    background: rgba(0, 0, 0, 0.2);
}

.inputForm {
    margin: 3rem auto 5rem;
    display: flex;
    font: {
        family: 'NIXGONM-Vb';
    }
}

#nameOf {
    width: 20%;
}

#contentsOf {
    width: 80%;
}

#updateBtn {
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 25px;
    background: black;
    color: white;
}

#delBtn {
    border: none;
    background: none;
    &:hover {
        background: white;
        color: red;
        border-radius: 100px;
        filter: drop-shadow(0 0 5px black);
    }
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}