.portfolio {
    overflow-x: hidden;
}

.aboutclock {
    font: {
        family: 'Montserrat', sans-serif;
        size: 2rem;
    }
}

.clock {
    z-index: -1;
    padding: .5rem;
    margin: 0;
}

.pofol {

    padding: 20vh 0;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    animation-duration: 1s;
    animation-name: slidein;

    font: {
        family: 'Montserrat', sans-serif;
        size: 4rem;
    }
}

.section {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.content {
    width: 30vw;
    height: 30vh;
    margin: 0 3rem;
    border: .2rem dashed rgba($color: #000000, $alpha: 0.5);
    border-radius: 5%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    cursor: pointer;
}

// PORTPOP SECTION

.pop-container {
    padding: 20px 25px;
}

.contents {
    color: #666;
    line-height: 25px;
}

.btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}

.pop-layer {
    // none..
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    .dimBg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
        filter: alpha(opacity=50);
    }

    .pop-layer {
        display: block;
    }
}


.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: none;
    border-radius: 10px;
    background-color: rgba(30, 22, 54, 0.6);
    box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    overflow: hidden;

    font: {
        family: 'Montserrat', sans-serif;
        size: 15px;
    }

    &:hover {
        background-color: rgba(253, 253, 253, 0.6);
        color: black;
    }

    &:active {
        background-color: rgba(30, 22, 54, 0.6);
        box-shadow: 0 0px 0px 2px rgba(30, 22, 54, 0.4);
        transform: translateY(2px);
        color: white;
    }
}